tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow-cpu @ https://aws-tensorflow-binaries.s3-us-west-2.amazonaws.com/tensorflow/r2.3_aws/20210219-025624/cpu/py37/tensorflow_cpu-2.3.2-cp37-cp37m-manylinux2010_x86_64.whl
tensorflow-estimator @ https://aws-tensorflow-binaries.s3-us-west-2.amazonaws.com/estimator/r2.3_aws/20201211-182958/tensorflow_estimator-2.3.0-py2.py3-none-any.whl
sagemaker==2.39.0
sagemaker-experiments==0.1.30
sagemaker-tensorflow==2.3.0.1.7.0
sagemaker-tensorflow-training==20.3.0
sagemaker-training==3.9.2